body {
    box-sizing: border-box;
    margin: 0;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.box {
    display: flex;
    justify-content: space-between;
    padding: 15px 10%;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.pic img {
    width: 80px;
}

.text h2 {
    margin: 30px;
    font-size: 25px;
    font-weight: 500;
    /* letter-spacing: 1px; */
}

.btn button {
    margin: 20px;
    width: 150px;
    padding: 10px;
    background-color: rgb(114, 236, 32);
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;

}

.head {
    padding: 10px;
    font-size: 40px;
    margin: 20px;
}
.heads {
    padding: 10px;
    font-size: 40px;
    text-align: center;
}

.list {
    display: flex;

    /* align-items: center; */
}

.box {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin: 30px;
    font-size: 45px;
}

.submit h1 {
    color: rgb(0, 0, 0);
    padding: 30px;
    font-weight: 300;
}

.cen-form {
    border: 2px solid rgb(0, 0, 0);
    display: flex;
}

.form {
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit h1 {
    text-align: center;
}

.btn-sub {
    width: 200px;
    height: 40px;
    background-color: rgb(28, 100, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 20px;
}

.submit ul li {
    list-style: none;
    /* padding: 20px; */
    /* text-align: center; */
}

label {
    width: 100px;
    display: inline-block;
    margin: 25px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.title input {
    width: 250px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

input {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.title input::placeholder {
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding-left: 20px;
}

textarea {
    width: 250px;
    padding: 40px;
    border: 2px solid black;
    border-radius: 10px 10px 0 10px;
background-color: transparent;
    overflow: hidden;
    /* height: 200px; */
}
.big2{
    padding: 20px;
    background-color: aquamarine;
}
.list {
    border: 2px solid black;
    border-radius: 15px;
    width: 600px;
    transform: translateX(450px);
}